<ul class="list-group">
  {{>createComment}}
  <h1 class="text-center">Comments</h1>
  {{#each comments as |comment|}}
    <li class="list-group-item">
      <article>{{comment.text}}</article>
      <p>{{comment.user.username}}</p>
    </li>
  {{/each}}
</ul>
