<ul class="list-group">
  {{>createComment}}
  <h1 class="text-center">Comments</h1>
  {{#each this}}
    <li class="list-group-item">
      <article>{{text}}</article>
      <p>{{user.username}}</p>
    </li>
  {{/each}}
</ul>