<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Leave a Comment</label>
    <input
      type="text"
      class="form-control"
      id="comment_text"
      placeholder="Write Here"
    />
  </div>
  <button id="comment_submit" class="btn btn-primary">Submit</button>
</form>
<script src="../js/createComment.js"></script>