<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Leave a Comment</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Write Here"
    />
  </div>
  <button class="btn btn-primary">Submit</button>
</form>