<div>
  <input id="comment_text" class="input border-primary" placeholder="Leave a comment"></input>
  <button id="comment_submit" class="btn btn-primary">Post</button>
</div>
<script src="../js/createComment.js"></script>