{{! Login }}
<form class="login">
  <div class="form-group">
    <h3 class="text-primary">Login</h3>
    <h2 id="loginMessage"></h2>
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      class="form-control"
      id="login_email"
      aria-describedby="emailHelp"
      placeholder="Enter email"
      autocomplete="on"
    />
    <small id="emailHelp" class="form-text text-muted">We'll never share your
      email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="login_password">Password</label>
    <input
      type="password"
      class="form-control"
      id="login_password"
      placeholder="Password"
      autocomplete="on"
    />
  </div>
  <button id="login_submit" class="btn btn-primary mt-3">Submit</button>
</form>
<script src="./js/login.js"></script>