<main>
  <ul class="nav bg-dark text-primary p-2 fixed-top">
    <li class="nav-item">
      <a
        class="nav-link active text-light"
        aria-current="page"
        href="/"
      >PrismaticDevs Blog</a>
    </li>
    {{#unless loggedInUser}}
      <li class="nav-item">
        <a id="loginBtn" class="nav-link" href="/">Login</a>
      </li>
    {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/posts">Posts</a>
      </li>
      <li class="nav-item">
        <a id="logoutBtn" class="nav-link text-danger" href="#">Logout</a>
      </li>
    {{/unless}}
  </ul>
</main>

<script src="../js/logout.js"></script>