<main>
  <ul class="nav bg-dark text-primary p-2 fixed-top">
    {{#if loggedInUser}}
      <li class="nav-item">
        <a
          class="nav-link active text-light"
          aria-current="page"
          href="/posts"
        >PrismaticDevs Blog</a>
      </li>
    {{else}}
      <li class="nav-item">
        <a
          class="nav-link active text-light"
          aria-current="page"
          href="/"
        >PrismaticDevs Blog</a>
      </li>
    {{/if}}
    {{#if loggedInUser}}
      <li class="nav-item">
        <a class="nav-link" href="/posts">All Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts/myposts">My Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts/create">Create Post</a>
      </li>
      <li class="nav-item">
        <a id="logoutBtn" class="nav-link text-danger" href="#">Logout</a>
      </li>
    {{/if}}
  </ul>
</main>

<script src="../js/logout.js"></script>