<main>
  <ul class="nav bg-dark text-primary p-2 fixed-top">
    <li class="nav-item">
      <a
        class="nav-link active text-light"
        aria-current="page"
        href="/"
      >PrismaticDevs Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/posts">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-danger" href="/logout">Logout</a>
    </li>
  </ul>
</main>