<section class="mt-5">
  <br>
  {{>createPost}}
</section>
<ul class="list-group">
  <h1>Posts</h1>
  {{#each posts as |post|}}
    <li class="list-group-item">
      <article class="post-article">
        <h2>{{post.title}}</h2>
        <article id="single">{{post.body}}</article>
        <a href="/posts/{{post.id}}">Read more</a>
        <p>Created By: {{post.user.username}}</p>
      </article>

    </li>
  {{/each}}
</ul>
</div>

