<ul class="list-group">
  {{#each posts as |post|}}
    <li class="list-group-item">
      <h1>My name is: {{post.title}}</h1>
      <p>{{post.id}}</p>
      <article>{{post.body}}</article>
    </li>
  {{/each}}
</ul>