<ul class="list-group">
  <h1 class="mt-5 pt-3">Posts</h1>
  {{#each posts as |post|}}
    <li class="list-group-item">
      <h2>{{post.title}}</h2>
      <article class="post-article">
        <div class="d-flex">
          <article class="single">{{post.body}}</article>
          <h1>...</h1>
        </div>
        <a href="/posts/{{post.id}}">View / Edit</a>
        <p>Created By: {{post.user.username}}</p>
      </article>
    </li>
  {{/each}}
</ul>