<form class="mt-5 pt-2">
  <h1>Create Post</h1>
  <div id="createPost" class="form-group">
    <label for="post_title">Post Title</label>
    <input
      type="text"
      class="form-control"
      id="post_title"
      placeholder="Post title"
    />
  </div>
  <div class="form-group">
    <label for="post_body">Post Body</label>
    <textarea
      type="text"
      class="form-control"
      id="post_body"
      placeholder="Post body"
    ></textarea>
  </div>
  <button id="submit_post" type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="../js/createPost.js"></script>