<main class="bg-light">
  <div class="">
    <h1 class="text-center text-primary mt-2">PrismaticDevs Tech Blog</h1>
    <article class="p-5 pt-0">
      <h3 class="text-primary">Welcome to the blog</h3>
      <p>Welcome to the PrismaticDev's blog. Signing up and use of this application is free and we invite anyone who wants to contribute to this web development blog. Topics that we are particularly familiar with are web design (HTML5, CSS3, DOM based JavaScript), API development & usage, HTTP requests, jQuery, Node.js & Express.js, SQL, and ORM database deployment and usage. Feel free to sign up and contribute to the blog. YOur account will be password and email protected. We do not sell to advertisers or sell emails.</p>
    </article>
    <div class="container">
      {{>login}}
      {{>register}}
    </div>
  </div>
</main>