<ul class="list-group">
  <h1 class="text-center mt-5 pt-3">Your Posts</h1>
  {{#each posts as |post|}}
    <li class="list-group-item">
      <h2>{{post.title}}</h2>
      <article class="post-article">
        <article class="single">
          {{{post.body}}}
        </article>
        <br />
        <p>Posted by: {{post.user.username}}</p>
        <button
          class="btn btn-primary"
          onclick="location.href='/myposts/{{post.id}}'"
        >View</button>
      </article>
    </li>
  {{/each}}
</ul>
<style>
  .ql-editor { overflow: hidden; }
</style>