<article class="mt-5 p-5">
  <a href="/posts">&#8592; Back to posts</a>
  <h1 id="left-align-title">{{post.title}}</h1>
  <p>{{post.body}}</p>
  <p>Created By: {{post.user.username}}</p>
  <p>Created on: {{post.createdAt}}</p>
  <button id="submit_post" class="btn btn-primary">Edit</button>
</article>