<article class="mt-5 p-5">
  <button class="btn btn-secondary" onclick="location.href='/posts'">&#8592; Back to all posts</button>
  <h1 id="left-align-title">{{post.title}}</h1>
  <article class="single-fit">
    {{{post.body}}}
  </article>
  <p>Created By: {{post.user.username}}</p>
  <p>Created On: {{format_date post.createdAt}}</p>
  <button id="submit_post" class="btn btn-primary">Edit</button>
</article>
<article>
  {{>comments}}
</article>
