/* HTML Elements */

article {
    text-indent: 2em;
}

h1 {
    margin: 0;
}

form {
    width: 45%;
    margin: 0 auto;
    padding-bottom: 5%;
}

form,
textarea {
    height: 40%;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: rgb(228, 228, 228);
}


/* ids */

#postH1 {
    text-align: center;
}

#left-align-title {
    text-align: left;
}

#editor {
    background-color: #fff;
}

#comment_text {
    border-radius: 3em 0 0 3em;
    height: fit-content;
    border: solid;
    width: 30em;
    padding: 0.25em;
}

#comment_submit {
    border-radius: 0 3em 3em 0;
    margin-left: -0.5em;
    margin-top: -0.25em;
}

#editpost {
    overflow: scroll;
}


/* Custom Classes */

.single {
    height: 5rem;
    width: fit-content;
    overflow: hidden;
}

.single-fit {
    height: fit-content;
    overflow: hidden;
}

.post-article {
    padding-left: 2%;
    padding-right: 2%;
}

.login,
.register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33%;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content {
    margin-top: 3%;
}

.post {
    width: 80%;
    margin: 0 auto;
    padding: 3%;
}

.large {
    font-size: 3em;
}

.create {
    height: 95%;
    overflow: hidden;
}

.ql-container {
    height: 70%;
}

#user,
#user:hover {
    color: #fff;
}