/* HTML Elements */

article {
    text-indent: 2em;
}

h1 {
    text-align: center;
    margin: 0;
}

form {
    width: 45%;
    margin: 0 auto;
    padding-bottom: 5%;
}

form,
textarea {
    height: 40%;
}


/* ids */

#postH1 {
    text-align: center;
}

#single {
    height: 5rem;
    overflow: hidden;
}


/* Custom Classes */

.post-article {
    padding-left: 5%;
    padding-right: 5%;
}

.post-body {
    height: 5rem;
    overflow: hidden;
}

.login,
.register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33%;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content {
    margin-top: 3%;
}

.post {
    width: 80%;
    margin: 0 auto;
    padding: 3%;
}